@import "reset";

$body-width: 40rem;
$body-font-family: sans-serif;
$body-background-color: #7b7b7b;
$main-background-color: #f5f5f5;
$largeskip: 1em;
$smallskip: 0.5em;
$largelineheight: 1.4;
$smalllineheight: 1.2;

@import "local";

body {
    font-family: $body-font-family;
    background-color: $body-background-color;
}

div#header, div#content {
    max-width: $body-width;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0 5% 0 5%;
    background-color: $main-background-color;
}

div#header h1 {
    padding-top: $largeskip;
    font-size: 125%;
    font-weight: bold;
}

div#header div#toc div#toctitle {
    padding-top: $largeskip;
    font-size: 110%;
    font-weight: bold;
}

div#header div#toc ul li {
    padding-top: $smallskip;
    line-height: $smalllineheight;
}

div#content {
    padding-bottom: 100vh;
}

div#content div#basicnav {
    position: fixed;
    bottom: 0;
    padding-top: $largeskip;
    padding-bottom: $largeskip;
    max-width: $body-width;
    width: 100%;
    background-color: $main-background-color;
    border-top: 2px solid $body-background-color;
}

div#content div#basicnav ul li {
    display: inline;
}

div#content div#basicnav ul li p {
    display: inline;
}

div#content div#basicnav ul li:not(:last-child):after {
    content: "|";
    margin: 0 0.1em 0 0.1em;
}

div#content h2 {
    padding-top: $largeskip;
    font-size: 110%;
    font-weight: bold;
}

div#content h3 {
    padding-top: $largeskip;
    font-weight: bold;
}

div#content div.ulist_list ul li {
    padding-top: $smallskip;
    list-style: disc;
    margin-left: 1em;
    line-height: $smalllineheight;
}

div#content div.ulist_overview ul li {
    padding-top: $smallskip;
    line-height: $smalllineheight;
}

div#content div.paragraph p {
    padding-top: $smallskip;
    line-height: $largelineheight;
}

div#header div#toc ul li a, div#content p a {
    border-bottom: 1px dotted black;
}

div#header div#toc ul li a:hover, div#content p a:hover {
    border-bottom: 2px solid black;
}

div#content a.link:hover {
    border-bottom: 1px solid black;
}

div#content strong, b {
    font-weight: bold;
}

div#content em, i {
    font-style: italic;
}

div#content code {
    font-family: monospace;
}

div#content div.quoteblock {
    padding-top: $smallskip;
    font-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: $largelineheight;
}
