@import "reset";

@mixin standard-spacing {
    margin: 0.5em 0 0.5em 0;
}

@mixin wider-spacing {
    margin: 1em 0 1em 0;
}

body {
    font-family: Helvetica, Roboto, sans-serif;
}

div#content {
    width: 45rem;
    margin: 0 auto 1em auto;
}

div#content div#preamble {
    margin-top: 1em;
}

div#content div#preamble div.topnav ul li {
    display: inline;
}

div#content div#preamble div.topnav ul li p {
    display: inline;
}

div#content div#preamble div.topnav ul li:not(:last-child):after {
    content: "|";
    margin: 0 0.1em 0 0.1em;
}

div#content h1 {
    margin-top: 1.5em;
    font-size: 125%;
    font-weight: bold;
}

div#content h2 {
    margin-top: 1em;
    font-size: 110%;
    font-weight: bold;
}

div#content h3 {
    margin-top: 1em;
    font-weight: bold;
}

div#content div.ulist_list ul li {
    @include standard-spacing;
    list-style: disc;
    margin-left: 1em;
    line-height: 1.2;
}

div#content div.ulist_overview ul li {
    @include standard-spacing;
    line-height: 1.2;
}

div#content div.paragraph p {
    @include standard-spacing;
    line-height: 1.4;
}

div.sectionbody a, div.partintro a {
    border-bottom: 1px dotted black;
}

div.sectionbody a:hover, div.partintro a:hover {
    border-bottom: 2px solid black;
}

a.link:hover {
    border-bottom: 1px solid black;
}

div#content strong, b {
    font-weight: bold;
}

div#content em, i {
    font-style: italic;
}

div#content code {
    font-family: "Courier New", Courier, monospace;
}
